# Force Fortran files to be counted as Fortran
*.f90 linguist-language=Fortran
*.f95 linguist-language=Fortran
*.f03 linguist-language=Fortran
*.f08 linguist-language=Fortran
*.f   linguist-language=Fortran


