SDK_ROOT=C:\GF-Fortran-SDK

# Windows paths
LUA_WIN_x86_64=tools/bin/lua/windows/x86_64
GFORTRAN_WIN_x86_64=tools/bin/gfortran/windows/x86_64
NASM_WIN_x86_64=tools/bin/nasm/windows/x86_64

# Linux paths
LUA_UNIX_x86_64=tools/bin/lua/linux/x86_64
#GFORTRAN_UNIX_x86_64=tools/bin/gfortran/linux/x86_64
#NASM_UNIX_x86_64=tools/bin/nasm/linux_x86_64

# macOS paths
#LUA_UNIX_arm64=tools/bin/lua/macos/arm64
#GFORTRAN_UNIX_arm64=tools/bin/gfortran/macos/arm64
#NASM_UNIX_arm64=tools/bin/nasm/macos_arm64
